
.signup-input {
    width: 300px;
    height: 40px;
    background-color: #f3f5f3;
    padding-left: 5px;

}

.signup-input::placeholder { 
    color: #656665;  
}

.signup-input:focus {
    border-color: tomato !important;
    outline: none;
}


.signup-btn {
    border-radius: 30px;
    width: 300px;
    height: 40px;
    background-color: var(--color-131921);
    color: white;
}
