.product-card{
    background-color: aliceblue;
    overflow: hidden;
}

.product-card:hover .action-bar {
    right: 5%;
}

.wishlist-icon {
    top: 5%;
    right: 5%;
}

.action-bar {
    top: 15%;
    right: -10%;
    transition: 0.2s;
}

.text-fluid {
    font-size: 1vw;
  }

  .custom-btn{
      font-size: 0.6rem;
  }

  @media (max-width: 992px) {
    .text-fluid {
      font-size: 1.5vw;
    }

    .custom-btn{
        font-size: 0.7rem;
    }

  }

  @media (max-width: 768px) {
    .text-fluid {
      font-size: 2vw;
    }

    .custom-btn{
        font-size: 0.7rem;
    }

  }




@media (max-width: 576px) {
    .text-fluid {
      font-size: 2.6vw;
    }


    .custom-btn{
        font-size: 0.rem;
    }

  }