.store-container {
    background-color: rgb(181, 181, 181);
    padding-top: 10px;
}

.filter-card{
    background-color: white;
    border-radius: 5px;
    padding: 3% 3% 3% 10%;
    
}

.filter-title {
    font-size: 2vw;
    font-weight: 500;
    margin-bottom:15px;
}

.filter-card ul {
    list-style-type: none;
    font-size: 1.2vw;
    cursor: pointer;
    padding-left: 10px;
    
}

.filter-card .form-check-label{
    font-size: 1.2vw;
    cursor: pointer;
    padding-top: 2px;
    padding-left: 2px;
}


.filter-card .form-check-input {  
    background-color: rgb(214, 213, 212); 
    font-size: 1.5vw;
    padding-left: 0;
    border-color:  rgb(91, 92, 94);
}

.filter-card .form-check-input:checked {   
    background-color: rgb(91, 92, 94);
}

.filter-card .form-check-input:focus {
    box-shadow: none;
    border-color:  rgb(91, 92, 94);
}


.sub-title {
    font-size: 1.5vw;
}

.input-group .form-control::placeholder {
  font-size: 1.5vw; 
}
.colors {
  list-style-type: none; 
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.colors li{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.fs-7 {
  font-size: 12px !important;
}

.filter-sort-grid {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-top: 6px;
}